/* Label formatting */

.card-list-labels {
	display: grid;
	grid-template-columns: 18% 16% 15% 20% 9%;
	justify-content: center;
	align-items: center;
	padding: 0 0 1vw 0;
	font-size: .75vw;
	font-weight: 200;
}

.card-list-labels .labels-grid {
	justify-self: start;
}

.card-list-labels .labels-grid:nth-child(5) {
	justify-self: center;
}

/* Ego/Shadow stack padding to match function's padding */
.card-list-labels .labels-grid:nth-child(4), .card-list-labels .labels-grid:nth-child(3) {
	padding: 0 0 0 8px;
}

/* Card Content */

.card-container {
	border-radius: 30px 30px 30px 30px;
	background-color: #26292b;
	filter: drop-shadow(2px 2px 5px black);
	
	margin-bottom: 1.25%;
	transition: all .2s ease; /* back to normal */
}

.card-grid-summary {
	position: relative;
	display: grid;

	grid-template-columns: 18% 16% 15% 20% 9%;
	justify-content: center;
	align-items: center;
	grid-auto-rows: 2.75vw;
}
  
/* Hover Effects */

.card-container:hover {
	transform: scale(1.03);
	transition: all .1s ease; /* zoom in */
}

/* Name and Type formatting */

.card-grid-summary .grid-item:nth-child(5) {
	justify-self: center;
}

.card-grid-summary .grid-item:not(:nth-child(5)) {
	justify-self: start;
}

.grid-item-person, .grid-item-type {
	font-size: 1.55em;
	font-weight: 300;
}

/* Stack formatting */

.grid-ego-stack, .grid-shadow-stack {
	display: flex;
	font-size: 1.15em;
	font-weight: 200;
}

.grid-ego-item, .grid-shadow-item {
	padding: 0 10%;
}

.grid-item-quadra {
	font-size: 1em;
	font-weight: 300;
}

/* ----------------- MEDIA QUERIES ----------------- */
/* ----------------- MEDIA QUERIES ----------------- */
/* ----------------- MEDIA QUERIES ----------------- */
/* ----------------- MEDIA QUERIES ----------------- */
/* ----------------- MEDIA QUERIES ----------------- */

@media (max-width: 1650px) {
	.card-container {
		margin-bottom: 2%;
	}
	.card-grid-summary, .card-list-labels  {
		grid-template-columns: 18% 16% 18% 20% 9%;
	}
	.card-grid-summary {
		grid-auto-rows: 3vw;
		font-size: 1vw;
	}
}

@media (max-width: 1350px) {
	.card-grid-summary {
		grid-auto-rows: 4vw;
		font-size: 1.25vw;
	}
}


@media (max-width: 1024px) {
	.card-grid-summary {
		grid-auto-rows: 5vw;
		font-size: 1.25vw;
	}
}

@media (max-width: 768px) {
	.card-container {
		margin-bottom: 3%;
	}
	.card-grid-summary, .card-list-labels  {
		grid-template-columns: 18% 16% 18% 20% 9%;
	}
}

@media (max-width: 425px) {
	.card-container {
		margin-bottom: 5%;
	}
	.card-grid-summary, .card-list-labels  {
		grid-template-columns: 23% 16% 32% 15%;
	}
	.card-grid-summary {
		grid-auto-rows: 10vw;
		font-size: 2.5vw;
	}
	.card-list-labels {
		font-size: 2vw;
		margin-top: 12%;
	}
	.grid-ego-item {
		padding: 0 1.25vw;
	}
	/* Ego/Shadow stack padding to match function's padding */
	.card-list-labels .labels-grid:nth-child(3) {
		padding: 0 0 0 1.25vw;
	}
}