/* Label formatting */

.card-list-labels {
	display: grid;
	grid-template-columns: 18% 16% 12% 25% 1%;
	justify-content: center;
	align-items: center;
	padding: 0 0 1vw 0;
	font-size: .75vw;
	font-weight: 200;
}

.card-list-labels .labels-grid {
	justify-self: start;
}

.card-list-labels .labels-grid:nth-child(5) {
	justify-self: center;
}

/* Ego/Shadow stack padding to match function's padding */
.card-list-labels .labels-grid:nth-child(4), .card-list-labels .labels-grid:nth-child(3) {
	padding: 0 0 0 8px;
}

/* Card Content Grid */

.card-container {
	/* border: 1px solid white; */
	border-radius: 30px 30px 30px 30px;
	box-shadow: inset 0px 0px 40px 40px #26292b;
	filter: drop-shadow(2px 2px 5px black);

	position: relative;
	display: grid;
	margin-bottom: 1%;

	grid-template-columns: 18% 16% 12% 25% 1%;
	justify-content: center;
	align-items: center;
	grid-auto-rows: 2.75vw;
}

/* Name and Type formatting */

.card-container .grid-item:nth-child(5) {
	justify-self: center;
}

.card-container .grid-item:not(:nth-child(5)) {
	justify-self: start;
}

.grid-item-person, .grid-item-type {
	font-size: 1.55em;
	font-weight: 300;
}

/* Stack formatting */

.grid-ego-stack, .grid-shadow-stack {
	display: flex;
	font-size: 1.15em;
	font-weight: 200;
}

.grid-ego-item, .grid-shadow-item {
	padding: 0 10%;
}

.grid-item-quadra {
	font-size: 1em;
	font-weight: 300;
}
  
/* Hover Effect */

.card-container {
	transition: all .2s ease; /* back to normal */
}
.card-container:hover {
	transform: scale(1.03);
	transition: all .1s ease; /* zoom in */
}